doctype html
head
body
  div
   p
    b Tu código para recuperar la contraseña es el siguiente:
  div
  div
   p
    b #{user.code}
  div
   p
    b Si tú no pediste esta recuperación, por favor actualiza tu contraseña desde la página de Bondzù en tu perfil.