doctype html
head
body
  div
   p
    b Your password recovery code is as follows:
  div
  div
   p
    b #{user.code}
  div
   p
    b If you did not request this recover code, please update your password in the Bondzù page, in your profile.