doctype html
head
body
  div
   p
    b Tu codigo para recuperar la contraseña es el siguiente:
  div
  div
   p
    b #{user.code}
  div
   p
    b Si tu no pediste esta recuperacion, por favor actualiza tu contraseña desde la pagina de Bondzu en tu perfil