.navBarIcon {
  position: relative;
  left: 20rem;
}

.bar {
  position: relative;
  right: 31.5rem;
}

.faqIcon {
  position: relative;
  right: -13rem;
}

.loginIcon {
  position: relative;
  right: -8rem;
}
